{% include 'CommonTemp.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
    <link rel="stylesheet" href="/static/css/installation.css">
    <link rel="stylesheet" href="/static/css/bom.css">


</head>

<body>
    {% block content %}

    {% if edit == 'edit' %}

    <!-- form for update user information -->
    <div id="editformdiv" class="container-fluid editparentclass">
        <h4 style="text-align: center;">Update User Information</h4>
        <img onclick="openUserData()"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAOZJREFUSEvt1dENgjAYBOBjA0dwAx1BN9FNdBQnUTfQDXQDRzCXtEnTtOH/j2JjAi/wQPm4aykDOh1DJxcL/LPm/67qFYA1gIdakZKY6DXAexX3whHdhqR3ADsltQfO0WdAP3PCTVG+qCVxc9QCz4KOwTnKuTwAsM7pG8CrNv+1qnNUWT9nACcFvgHYKGIYI8Ecy9QpzoqPjqpZs7vqGDTHuUVyt7LOc7Uw6+eUJm+CW+BS7ZNxK9wc98Al/BK+bffi98Ipzmv+maSFpsAR51lCx7ZMd32eAWpij1G8d4EnV2h9QLeqv/KyMB8qwdA1AAAAAElFTkSuQmCC" />

        <form action="{% url 'installation_pk' data.id %}" method="post">
            <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="text" class="form-control" value="{{ data.name }}" name="name" id="editname">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="email" class="form-control" value="{{ data.email }}" name="email" id="editemail">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="text" class="form-control" value="{{ data.password }}" name="password" id="editpassword">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Designation</label>
                <input type="text" class="form-control" value="{{ data.designation }}" name="designation"
                    id="editdesignation">
            </div>

            <div class="form-group" style="display: block;">
                <label for="exampleInputPassword1">Work</label>
                <input type="text" class="form-control" value="{{ data.work }}" name="work" id="weditork" readonly>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Department</label>
                <input type="text" class="form-control" value="{{ data.user_dept }}" name="user_dept"
                    id="edituser_dept">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Is Active</label>
                <input type="text" class="form-control" value="{{ data.is_active }}" name="is_active"
                    id="editis_active">
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>

    </div>

    {% elif edit == 'show' %}

    <!-- add member button here -->
    <div class="addclientbtn" id="addclientbtn">
        <form action="{% url 'installation' 'addNewUser' %}" class="addMemberBtn" id="addMemberBtn">
            <button type="Submit" class="btn btn-primary addMemberBtn">Add
                User</button>
        </form>

    </div>

    <!-- show table view -->
    <section class="parenttab" id="parentclass">

        <div class="row child_tab">
            <div class="col-lg-12 col-md-12">
                <div class="topnav2">
                    <a href=""><strong>Leads</strong></a>
                    <div class="search-container">
                        <form action="{% url 'user_list' %}">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>

                <div class="tab-content" style="margin-top: -10px;">
                    <!-- Sales Department -->
                    <div class="table_parent_div  tab-pane active" id="new">
                        <div class="basic_info_card table_card" id="menu3">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Designation</th>
                                        <th scope="col">Work</th>
                                        <th scope="col">Active</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in users %}
                                    <tr>
                                        <td>{{ i.name }}</td>
                                        <td>{{ i.email }}</td>
                                        <td>{{ i.user_dept }}</td>
                                        <td>{{ i.designation }}</td>
                                        <td>{{ i.work }}</td>
                                        {% if i.is_active == 1%}
                                        <td>Working</td>
                                        {% else %}
                                        <td>Ex-Worker</td>
                                        {% endif %}
                                        <td>

                                            <form action="{% url 'installation_pk' i.id %}">
                                                <button class="btn btn-primary">Edit</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <h1>{{ data }}</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% else %}
    <!-- show form of add new users -->
    <div class="center hideform" id="dropdown-popup">
        <h4 style="text-align: center;">Add New Lead</h4>
        <img onclick="openUserData()"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAOZJREFUSEvt1dENgjAYBOBjA0dwAx1BN9FNdBQnUTfQDXQDRzCXtEnTtOH/j2JjAi/wQPm4aykDOh1DJxcL/LPm/67qFYA1gIdakZKY6DXAexX3whHdhqR3ADsltQfO0WdAP3PCTVG+qCVxc9QCz4KOwTnKuTwAsM7pG8CrNv+1qnNUWT9nACcFvgHYKGIYI8Ecy9QpzoqPjqpZs7vqGDTHuUVyt7LOc7Uw6+eUJm+CW+BS7ZNxK9wc98Al/BK+bffi98Ipzmv+maSFpsAR51lCx7ZMd32eAWpij1G8d4EnV2h9QLeqv/KyMB8qwdA1AAAAAElFTkSuQmCC" />

        <form action="{% url 'installation_user' %}" method="post">

            <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="text" class="form-control" name="password" id="password">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Designation</label>
                <input type="text" class="form-control" name="designation" id="designation">
            </div>

            <div class="form-group" style="display: block;">
                <label for="exampleInputPassword1">Work</label>
                <input type="text" class="form-control" value="installation_user" name="work" id="work" readonly>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Department</label>
                <input type="text" class="form-control" value="Installation" name="user_dept" id="user_dept" readonly>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Is Active</label>
                <input type="text" class="form-control" value="1" name="is_active" id="is_active" readonly>
            </div>

            <button type="submit" class="btn btn-primary">Add User</button>
        </form>

    </div>

    {% endif %}

    {% endblock %}
    <script src="/static/js/installation.js"></script>
</body>

</html>