a.button{
    background-color: red;
}
.btn_tag{
    background-color: red;
}
.bom_btn{
    float: right;
    margin-top: 0px;

}
.form_card{
    width: 80%;
    margin-left: 220px;
    margin-top: 120px;
}
.form-group{
    padding: 5px;
}