{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Admin User</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/DriverReq.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="path/to/lightbox.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="path/to/lightbox.js"></script>
</head>
<body style="background-color: #cee1ed;">
     <!-- side-bar -->
     <div class="sidebar" id="main">
        <div class="logo_content">
          <div class="logo">
            <i class="bx bxl-android"></i>
            <div class="logo_name">Skroman</div>
          </div>
          <i class="bx bx-menu" id="btn"></i>
        </div>
  
        <ul class="nav_list">

          <li>
            <a href="{% url 'allUsers' %}">
                <i class='bx bxs-user-plus'></i>
              <span class="links_name">Create User</span>
            </a>
            <span class="tooltip">Create User</span>
          </li>
  
          <li>
            <a href="#">
              <i class="bx bx-restaurant"></i>
              <span class="links_name">Leads</span>
            </a>
            <span class="tooltip">Leads</span>
          </li>
  
          <li>
            <a href="#">
                <i class='bx bxs-search'></i>
              <span class="links_name">Track</span>
            </a>
            <span class="tooltip">Track</span>
          </li>
  
          <li>
            <a href="#">
              <i class="bx bx-cog"></i>
              <span class="links_name">Sales</span>
            </a>
            <span class="tooltip">Sales</span>
          </li>
  
          <li>
            <a href="#">
              <i class="bx bxs-help-circle"></i>
              <span class="links_name">Invantory</span>
            </a>
            <span class="tooltip">Invantory</span>
          </li>

          <li>
            <a href="#">
              <i class="bx bxs-help-circle"></i>
              <span class="links_name">Production</span>
            </a>
            <span class="tooltip">Production</span>
          </li>

          <li>
            <a href="#">
              <i class="bx bxs-help-circle"></i>
              <span class="links_name">Account</span>
            </a>
            <span class="tooltip">Account</span>
          </li>

          <li>
            <a href="#">
              <i class="bx bxs-help-circle"></i>
              <span class="links_name">Installation</span>
            </a>
            <span class="tooltip">Installation</span>
          </li>

        </ul>
  
        <div class="profile_content">
          <div class="profile">
            <div class="profile_details">
              <img src="" alt="" />
              <div class="name_job">
                <div class="name">Aniket Suryawanshi</div>
                <div class="job">Android Developer</div>
              </div>
            </div>
            <i class="bx bx-log-out" id="log_out"></i>
          </div>
        </div>
      </div>
  
      <!-- navigation bar -->
      <div class="navigation_bar">
        <nav class="navbar">
          <div class="container-fluid" id="navigation_div">
            <a class="navbar-brand">Skroman Support</a>
            <i class="bx bx-menu"></i>
            <a style="text-decoration: none;" class="nanbar-user">Welcome Admin</a>
          </div>
        </nav>
      </div>

      <!-- All Leads count with card view  -->
      <div class="parentdiv" >
        <!-- Builder view -->
        <div class="row">
          <div class="card col-12 col-lg-3 col-md-3 user_card">
            <img
              src="/static/image/total_customer.png"
              style="width: 25px; height: 25px"
              alt="Avatar"
            />
            <img
              src="/static/image/total_customer_graph_img.png"
              alt="Avatar"
              style="float: right; margin-top: 25px"
            />
            <p class="card-text" id="text">Builder</p>
            <p class="card-text" id="textNumber">10,502</p>
          </div>

          <!-- Architect view -->
          <div class="card col-12 col-lg-3 col-md-3 user_card1">
            <img
              src="/static/image/new_cutomer_icon.png"
              style="width: 25px; height: 25px"
              alt="Avatar"
            />
            <img
              src="/static/image/new_customer_graph.img.png"
              alt="Avatar"
              style="float: right; margin-top: 25px"
            />
            <p class="card-text text_res" id="text">Architect</p>
            <p class="card-text" id="textNumber">10,358</p>
          </div>

          <!-- Interior view  -->
          <div class="card col-12 col-lg-3 col-md-3 user_card">
            <img
              src="/static/image/happy_customer_img.png"
              style="width: 25px; height: 25px"
              alt="Avatar"
            />
            <img
              src="/static/image/happy_customer_graph_img.png"
              alt="Avatar"
              style="float: right; margin-top: 25px"
            />
            <p class="card-text" id="text_long">Interior Design</p>
            <p class="card-text" id="textNumber">10,358</p>
          </div>

          <!-- System Integrator view -->
          <div class="card col-12 col-lg-3 col-md-3 user_card1">
            <img src="/static/image/verifiyed_customer_img.png" alt="Avatar" />
            <img
              src="/static/image/verifyied_customer_graph_img.png"
              alt="Avatar"
              style="float: right; margin-top: 25px"
            />
            <p class="card-text" id="text_long">System Integrator</p>
            <p class="card-text" id="textNumber">10,358</p>
          </div>
        </div>
      </div><br><br>

      <!-- show all lead information with data and table view -->
      <section class="parenttab" style="margin-top: 80px;">
        <div class="row child_tab">
        <div class="col-lg-12 col-md-12" >
            <ul class="nav nav-pills option_tab" id="myTab" role="tablist">

                <nav class="navbar navbar-light bg-light justify-content-between">
                  <a class="navbar-brand" style="margin-top: 10px;">Client Lead Data</a>
                  <form class="form-inline" style="float: right; margin-top: 15px; margin-right: 15px;">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: cornflowerblue;">Search</button>
                  </form>
                </nav>
            </ul>

            <div class="tab-content" style="margin-top: -10px;">
                <!-- Sales Department -->
                <div class="table_parent_div  tab-pane active" id="new">
                    <div class="basic_info_card table_card" id="menu3">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Sr.no</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Mobile No</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Rajendra Sir</td>
                                    <td>Sales Head</td>
                                    <td>@mdo</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>1212</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </section>

      <!-- handling messages -->
      <div style="margin-top: 10px;">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "error"%}
        <script>
            swal({
              icon: 'warning',
              text: '{{ message }}',
              buttons: {
                cancel: "Cancel",
                catch: {
                  text: "Next",
                  value: "catch",
                }
              },
            })
              .then((value) => {
                switch (value) {
                  case "catch":
                    break;
                }
              });
          </script>
          {% else %}
          <script>
            swal({
              icon: '/static/image/login_success.png',
              text: '{{ message }}',
              buttons: {
                cancel: "Cancel",
                catch: {
                  text: "Done",
                  value: "catch",
                }
              },
            })
              .then((value) => {
                switch (value) {
                  case "catch":
                    // window.location = "newtry";
                    break;
                }
              });
          </script>
          {% endif %}
          {% endfor %}
          {% endif %}
      </div>

      <!-- scripts -->
    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        let searchBtn = document.querySelector(".bx-search");
        let handle_click1 = document.querySelector(".button");
  
        btn.onclick = function () {
          sidebar.classList.toggle("active");
        };
        searchBtn.onclick = function () {
          sidebar.classList.toggle("active");
        };
  
        $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
       });
  
      // store the currently selected tab in the hash value
      $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
      });
  
      // on load of the page: switch to the currently selected tab
      var hash = window.location.hash;
      $('#myTab a[href="' + hash + '"]').tab('show');
  
    </script>
</body>
</html>