{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cretae User</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/DriverReq.css' %}" />
    <link rel="stylesheet" href="/static/css/DriverReq.css">
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <link href="path/to/lightbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="path/to/lightbox.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>

<body >
    <!-- side-bar -->
    <div class="sidebar" id="main">
        <div class="logo_content">
            <div class="logo">
                <i class="bx bxl-android"></i>
                <div class="logo_name">Skroman</div>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>

        <ul class="nav_list">

            <li>
                <a href="#">
                    <i class='bx bxs-user-plus'></i>
                    <span class="links_name">Create User</span>
                </a>
                <span class="tooltip">Create User</span>
            </li>

            <li>
                <a href="#">
                    <i class="bx bx-restaurant"></i>
                    <span class="links_name">Leads</span>
                </a>
                <span class="tooltip">Leads</span>
            </li>

            <li>
                <a href="#">
                    <i class='bx bxs-search'></i>
                    <span class="links_name">Track</span>
                </a>
                <span class="tooltip">Track</span>
            </li>

            <li>
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Sales</span>
                </a>
                <span class="tooltip">Sales</span>
            </li>

            <li>
                <a href="#">
                    <i class="bx bxs-help-circle"></i>
                    <span class="links_name">Invantory</span>
                </a>
                <span class="tooltip">Invantory</span>
            </li>

            <li>
                <a href="#">
                    <i class="bx bxs-help-circle"></i>
                    <span class="links_name">Production</span>
                </a>
                <span class="tooltip">Production</span>
            </li>

            <li>
                <a href="#">
                    <i class="bx bxs-help-circle"></i>
                    <span class="links_name">Account</span>
                </a>
                <span class="tooltip">Account</span>
            </li>

            <li>
                <a href="#">
                    <i class="bx bxs-help-circle"></i>
                    <span class="links_name">Installation</span>
                </a>
                <span class="tooltip">Installation</span>
            </li>

        </ul>

        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="" alt="" />
                    <div class="name_job">
                        <div class="name">Aniket Suryawanshi</div>
                        <div class="job">Android Developer</div>
                    </div>
                </div>
                <i class="bx bx-log-out" id="log_out"></i>
            </div>
        </div>
    </div>

    <!-- navigation bar -->
    <div class="navigation_bar" >
        <nav class="navbar">
            <div class="container-fluid" id="navigation_div">
                <a class="navbar-brand">Skroman Support</a>
                <i class="bx bx-menu"></i>
                <a style="text-decoration: none;" class="nanbar-user">Welcome Admin</a>
            </div>
        </nav>
    </div>


    <!-- user list parent div  -->
    <div class="row userparent">
        <div class="child1">
            <h1></h1>
            <a href="" style="text-decoration:none" class="addNewBtn" data-toggle="modal" data-target="#modalLoginForm">
                <p id="rcorners1" style="background-color: blue;">Add New User</p>
            </a>
        </div>
    </div>

    <section class="parenttab">
        <div class="row child_tab">
        <div class="col-lg-12 col-md-12" >
            <ul class="nav nav-pills option_tab" id="myTab" role="tablist"
                style="background-color: rgb(241, 236, 229);">

                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#new"
                        style="color: black;"><strong>Sales</strong></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#progress"
                        style="color: black;"><strong>Invantory</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#verified"
                        style="color: black;"><strong>Production</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#rejected"
                        style="color: black;"><strong>Account</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#vehicledocument"
                        style="color: black;"><strong>Installation</strong></a>
                </li>
            </ul>

            <div class="tab-content">
                <!-- Sales Department -->
                <div class="table_parent_div  tab-pane active" id="new">
                    <div class="basic_info_card table_card" id="menu3">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Sr.no</th>
                                    <th scope="col">Emp_id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email Id</th>
                                    <th scope="col">Mobile</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Rajendra Sir</td>
                                    <td>Sales Head</td>
                                    <td>@mdo</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>1212</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Invantory Department -->
                <div class="table_parent_div  tab-pane fade in"
                    id="progress">
                    <div class="table_card" id="menu3">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Sr.no</th>
                                    <th scope="col">Emp_id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email Id</th>
                                    <th scope="col">Mobile</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Shri hari</td>
                                    <td>Invantory</td>
                                    <td>@mdo</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>1212</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- production department -->

                <div class="table_parent_div  tab-pane fade in"
                    id="verified">
                    <div class="table_card" id="menu3">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Sr.no</th>
                                    <th scope="col">Emp_id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email Id</th>
                                    <th scope="col">Mobile</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Snehali Mam</td>
                                    <td>Production</td>
                                    <td>@mdo</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>1212</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Account Department -->

                <div class="table_parent_div  tab-pane fade in"
                    id="rejected">
                    <div class="table_card" id="menu3">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Sr.no</th>
                                    <th scope="col">Emp_id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email Id</th>
                                    <th scope="col">Mobile</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Pradip Sir</td>
                                    <td>Account</td>
                                    <td>@mdo</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>1212</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Installation Department -->

                <div class="table_parent_div tab-pane fade in"
                    id="vehicledocument">
                    <div class="table_card" id="menu3">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Sr.no</th>
                                    <th scope="col">Emp_id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email Id</th>
                                    <th scope="col">Mobile</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Vaibhav Sir</td>
                                    <td>Installation Head</td>
                                    <td>@mdo</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>1212</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>1212</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>

    <!-- add user form -->

    <!-- Modal -->

    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center" style="background-color: #f5dfef;">
                    <h4 class="modal-title w-100 font-weight-bold" style="font-family: Poppins;"><strong>Add New User</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="container" style="margin-top: 30px;">
                    <form action="{% url 'addNewUser' %}" >
                        <label >Emp_Id : </label>
                        <input type="text" name="employee_id" placeholder="" style="border-radius: 10px; border: 2px solid gray; padding: 2px;" required>
                        
                        <label for="" style="margin-left: 40px;">Name : </label>
                        <input type="text" name="name" placeholder="" style="border-radius: 10px; border: 2px solid gray; padding: 2px;" required><br><br>
                        
                        <label for="">Email Id : </label>
                        <input type="text" name="email" placeholder="" style="border-radius: 10px; border: 2px solid gray; padding: 2px;" required>
                        
                        <label for="" style="margin-left: 40px;">Mobile No : </label>
                        <input type="text" name="contact_no" placeholder="" style="border-radius: 10px; border: 2px solid gray; padding: 2px;" required><br><br>

                        <label for="" >Designation : </label>
                        <input type="text" name="designation" placeholder="" style="border-radius: 10px; border: 2px solid gray; padding: 2px;" required><br><br>
                        
                        <div id="dropDown">
                            <label>Department:
                              <input list="browsers" name="department" style="border-radius: 10px; border: 2px solid gray; padding: 2px;" required/></label>
                            <datalist id="browsers">
                              <option value="Admin">
                              <option value="Invantory">
                              <option value="Production">
                              <option value="Sales">
                              <option value="Installation">
                            </datalist>
            
                        </div>
                        <button class="btn btn-default" style="background-color: blue; color: white; width: 70px; margin-top: 15px; margin-bottom: 15px;">Save</button>
                    </form>

                </div>
    
            </div>
        </div>
    </div>

    <!-- handling messages here -->
    <div style="margin-top: 10px;">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "error"%}
        <script>
            swal({
              icon: 'warning',
              text: '{{ message }}',
              buttons: {
                cancel: "Cancel",
                catch: {
                  text: "Next",
                  value: "catch",
                }
              },
            })
              .then((value) => {
                switch (value) {
                  case "catch":
                    break;
                }
              });
          </script>
          {% else %}
          <script>
            swal({
              icon: '/static/image/login_success.png',
              text: 'Silor Login successfully',
              buttons: {
                cancel: "Cancel",
                catch: {
                  text: "Next",
                  value: "catch",
                }
              },
            })
              .then((value) => {
                switch (value) {
                  case "catch":
                    // window.location = "newtry";
                    window.location = "{% url 'newtry' username %}"
                    break;
                }
              });
          </script>
          {% endif %}
          {% endfor %}
          {% endif %}
    </div>
    <!-- scripts -->
    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        let searchBtn = document.querySelector(".bx-search");
        let handle_click1 = document.querySelector(".button");

        btn.onclick = function () {
            sidebar.classList.toggle("active");
        };
        searchBtn.onclick = function () {
            sidebar.classList.toggle("active");
        };

        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        // store the currently selected tab in the hash value
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
            var id = $(e.target).attr("href").substr(1);
            window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#myTab a[href="' + hash + '"]').tab('show');

    </script>
</body>

</html>